<!-- office_update_form.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Office</title>
    <link rel="stylesheet" href="{% static 'css/office_create.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'home' %}" class="logo-nav2">
                <img src="{% static 'img/logo.svg' %}" alt="Logo" class="logo-nav">
            </a>
            <div class="nav-links">
                <a href="{% url 'home' %}" class="button-nav">Home</a>
            </div>
        </div>
    </nav>  
    <div class="container">
    <h2>Update Office</h2>
        <p>Assigned Doctor: {{ form.instance.doctor.names }} {{ form.instance.doctor.first_lastname }}</p>
        <p>Email: {{ form.instance.doctor.email }}</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
